# =========================
# BINARY
# =========================

*.exe
*.exe~
*.dll
*.so
*.dylib

/main
/app
/server

# =========================
# GO
# =========================

bin/
dist/
tmp/
vendor/

coverage.out
*.test

# =========================
# ENV
# =========================

.env
.env.local
.env.production

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================

*.log

# =========================
# AIR
# =========================

.air/

# =========================
# DOCKER
# =========================

postgres_data/

# =========================
# SQLC GENERATED (optional)
# =========================

# db/sqlc/